@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background: #0f2027 no-repeat; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c5364, #203a43, #0f2027)
    no-repeat; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c5364, #203a43, #0f2027) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90vmax;
  margin: 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
  color: #eee;
  width: 100%;
  height: 100%;
}

.btn {
  width: 30%;
  padding: 8px;
  background: #4888a3;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.5);
  outline: none;
}

.btn-primary {
  background: #4888a3;
}

.btn-secondary {
  background: #eee;
  color: #333;
}

.section-head {
  display: inline-block;
  margin: 32px auto;
  border-bottom: 2px rgba(238, 238, 238, 0.5) solid;
  color: #eee;
  font-size: 2rem;
}

.main-header {
  background: transparent;
  height: 70px;
  color: #eee;
}

.logo-color {
  color: coral;
}

.logo-font {
  font-family: "Poppins", sans-serif;
  font-size: 3.7rem;
}

.main-header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.main-header ul {
  justify-self: flex-end;
  list-style: none;
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(51, 51, 51, 0.2);
  border-radius: 8px;
  margin-right: 0;
}

.main-header li a {
  padding: 16px;
  display: block;
}

.main-header li:nth-child(1) {
  border-right: 2px solid rgba(51, 51, 51, 0.2);
}

.main-header li:nth-child(2) {
  border-right: 2px solid rgba(51, 51, 51, 0.2);
}

.main-header li:nth-child(3) {
  border-right: 2px solid rgba(51, 51, 51, 0.2);
}

.main-header li:hover {
  background: #ddd;

  cursor: pointer;
}

/* I want to implement a scale transition for the link hover, so that when the user hover the background color grows up from the bottom */

.main-header li:hover:nth-child(1) {
  border-radius: 8px 0 0 8px;
}

.main-header li:hover:nth-child(4) {
  border-radius: 0 8px 8px 0;
}

.main-header li:hover a {
  color: #333;
}

.hero-section {
  height: calc(100vh - 70px);
}

.hero-section .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
}

.hero-section h1 {
  font-size: 4rem;
}

.hero-section h4 {
  font-size: 2rem;
}

.hero-section .btn-container {
  margin: 16px 0;
}

.hero-section .btn-container a {
  margin: 0 8px;
}

.hero-section .btn-container a:hover {
  opacity: 0.9;
}

.hero-section .btn-container a:hover .rotate {
  display: inline-block;
  transition: transform 0.4s ease;
  transform: rotate(90deg);
  margin: 0 8px;
  color: coral;
}

.about {
  height: 100vh;
  color: white;
}

.projects {
  min-height: 100vh;
  width: 100%;
}

.projects-btn {
  width: 100%;
  display: flex;
}

.projects-btn .btn {
  width: 50%;
  box-shadow: none;
  cursor: pointer;
  color: #eee;
}

.projects-btn .btn:hover {
  opacity: 0.9;
}

.projects-btn .btn.active {
  box-shadow: 2px 4px 16px 0px #333;
  opacity: 0.8;
}

.projects-btn .btn-1 {
  border-radius: 10px 0 0 0;
}

.projects-btn .btn-2 {
  border-radius: 0;
}
.projects-btn .btn-3 {
  border-radius: 0 10px 0 0;
}

.projects-container {
  padding: 32px;
  width: 100%;
  min-height: 700px;
}

#project-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;

  height: 100%;
}

.project {
  display: grid;
  grid-template-rows: auto 75px 1fr auto;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin: 16px 0;
}

.project-img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
  margin: 0 0 4px 0;
  padding: 0;
  border-bottom: 2px rgba(0, 0, 0, 0.5) solid;
}

.project-title {
  padding: 8px;
  text-align: center;
}

.project-langs {
  text-align: center;
}

.lang-bg {
  background: #eee;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 4px;
}

.project-langs .HTML {
  color: red;
}

.project-langs .CSS {
  color: blue;
}

.project-langs .JavaScript {
  color: coral;
}

.project-langs .React {
  color: olivedrab;
}

.project-desc {
  padding: 8px;
}

.source-links {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.source-btn {
  margin: 0 4px;
}

.source-link {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

#about .about-me {
  height: 100%;
  margin-top: 48px;
  padding: 32px;
}
#about p {
  font-size: 2rem;
}

#contact {
  height: 100vh;
}

#contact .contact-info {
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#contact p {
  padding: 16px 0;
}

#contact .fab {
  display: inline-block;
  padding: 16px 0;
}

.main-footer {
  background: transparent;
  color: #fff;
  padding: 16px;
  font-size: 24px;
}
